<LinkTo @route="cart" class="cart-link">
  Cart
  {{!-- FIX - Bootstrap Icons are not loading --}}
  {{!-- <i class="bi bi-cart"></i> --}}
</LinkTo>

<main class="container mt-5">
  {{yield}}
</main>
